<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>mac_command.py</string>
	<key>ProgramArguments</key>
	<array>
		<string>path_to/python3</string>
		<string>path_to/mac_command.py</string>
	</array>
	<key>StandardErrorPath</key>
	<string>path_to_/log/mac_command.error</string>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
